{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
<style>
{% block style %}

{% endblock %}
</style>





{% block content %}
<div class="container">
<small>

<br>
<br>

<div class="col-sm-6 col-sm-offset-3">
<div class="panel panel-default">
<div class="panel-heading"><h4 class="panel-title"><b>Customer Support</b></h4></div>
<div class="panel-body">

<br>
<img src="{% static 'img/Customer Support.png' %}" alt="My image" width=100%/>
<br>
<br>


<p><strong>Please contact customer support at <a href="{% url 'Contact' %}">Contact</a></strong></p>




<strong>Or <a href="mailto:admin@teach-advisor.com">admin@teach-advisor.com</a></strong>


</div>
</div>
</div>

</small>
</div> <!-- /container -->
{% endblock %}

