{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


<style>
{% block style %}


{% endblock %}
</style>


{% block head %}




  <script type="text/javascript">

  function showFlashMessage(message) {
    var template = "<div class='container container-alert-flash'>" + 
    "<div class='col-sm-10 col-sm-offset-1'> " + 
    "<div class='alert alert-success alert-dismissible' role='alert'>" + 
    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
    "<span aria-hidden='true'>&times;</span></button>" 
    + message + "</div></div></div>"
    $("body").append(template);
    $(".container-alert-flash").fadeIn(500);
    setTimeout(function(){ 
      $(".container-alert-flash").fadeOut(500);
    }, 5000);
  }






  </script>


{% endblock %}








{% block special %}



<div class='container'>



  
  <div class="mainboxstyle">

    <div class="row">

      <div class="col-12 col-sm-6">



        <div class="mainheaderstyle"><i class="fas fa-credit-card fa-1x"></i> &nbsp;&nbsp;<span>Your Purchase Details</span></div><br>

      <div style="background-color:lightgrey; border-radius: 5px; margin:0px; padding:15px">

        <h5><span class="" style="color:black;"><b>{{ subtype }} Package</b></span></h5>
        <br>
        <h6><span class="" style="color:black;"><b>Subscription for {{ daysn }} days</b></span></h6>  
        <br>
        <h6 style="color:black;"><b>Total Price: {{ pricen }} USD</b></h6>

        <br>

            <img src="{% static 'img/visa.png' %}" style="width:45px;height:30px;" alt="...">
            <img src="{% static 'img/mastercard.png' %}" style="width:45px;height:30px;" alt="...">
            <img src="{% static 'img/Americanexpress.png' %}" style="width:45px;height:30px;" alt="...">
            <img src="{% static 'img/discover.png' %}" style="width:45px;height:30px;" alt="...">

        <br><br>

      <form action="{% url 'StripeCheckOut' %}" data-action='show-spinner' method="POST">{% csrf_token %}
      <!--   {{ form.stripe_id.as_hidden }} -->
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key={{ publishable }}
          data-amount={{price}}
          data-name="Voterable.com"
          data-image="https://s3-ap-southeast-1.amazonaws.com/voterable-prod-bucket/static/img/voterable+logo.JPG"
          data-locale="auto"
          data-zip-code="true"
          data-currency="usd">
        </script>
      </form>

      <br>
      <small><small><b>*By proceeding you have read and agreed with our <a href='{% url 'RefundPolicy' %}' class='btn-md btn-link' ><b>refund policy</b></a></b></small></small>

      </div>

          <br>
          <small><p style="color:grey"><i class="fas fa-lock fa-1x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Secure Transaction<b></p>
            <img src="{% static 'img/poweredbystripe.png' %}" style="width:135px;height:30px; margin-top:5px" alt="...">
            <br>


      </div>

    </div>

  </div><!-- mainboxstyle -->
</div>














{% endblock %}



