{% load staticfiles %}
{% load crispy_forms_tags %}


<style>



</style>

  <!-- The Modal -->
  <div class="modal fade" id="ShareModal" style="margin:0% 1% 0% 1%; width:95%">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Share</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">

          <a class="btn btn-primary btn-circle" style="margin:2px"
             href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
              <i class="fab fa-facebook fa-2x" aria-hidden="true"></i>
          </a>
          <a class="btn btn-info btn-circle" style="margin:2px" href="https://twitter.com/home?status={{ request.build_absolute_uri }}">
              <i class="fab fa-twitter fa-2x" aria-hidden="true"></i>
          </a>

          <a class="btn btn-success btn-circle" style="margin:2px" href="https://wa.me/?text=={{ request.build_absolute_uri }}" data-action="share/whatsapp/share">
              <i class="fab fa-whatsapp fa-2x" aria-hidden="true"></i>
          </a>


          <a class="btn btn-primary btn-circle" style="margin:2px"
             href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}">
              <i class="fab fa-linkedin fa-2x" aria-hidden="true"></i>
          </a>

        </div>
        
        <!-- Modal footer -->
<!--         <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div> -->
        
      </div>
    </div>
  </div>


<script>


</script>


