
  <div class="col-sm-12 col-md-6">
    <div class="mainboxstyle">

        <div class="mainheaderstyle"><i class="fas fa-trophy fa-1x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Records</div><hr>
          
          <ul class="list-group">
            <li class="list-group-item">
              <b class="fontstyle90">Your Reputation Points:</b>
              <span class="badge badge-pill badgestyle badge-secondary" style="float:right" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Points are awarded based on the votes to your contributed tips and comments."> {{points}} </span>
            </li>

            <li class="list-group-item">
              <b class="fontstyle90">Your Rank:</b>
              <span class="badge badge-pill badgestyle badge-secondary" style="float:right" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Earn {{nextpts}} points to get to {{nextrank}} rank."> {{rank}} </span>
            </li>

            <li class="list-group-item">
              <b class="fontstyle90">Tips created:</b>
              <span class="badge badge-pill badgestyle badge-secondary" style="float:right"> {{ pollsECreated }} </span>
            </li>

            <li class="list-group-item">
              <b class="fontstyle90">Tips viewed:</b>
              <span class="badge badge-pill badgestyle badge-secondary" style="float:right" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="The number of times your tips were viewed by others"> {{ votes_poll_entries_views }} </span>
            </li>

            <li class="list-group-item">
              <b class="fontstyle90">Your Tip Upvotes:</b>
              <span class="badge badge-pill badgestyle badge-secondary" style="float:right" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Get 1 point every time you get an upvote for your tip."> {{ upvotes }} </span>
            </li>

            <li class="list-group-item">
              <b class="fontstyle90">Your Comment Upvotes:</b>
              <span class="badge badge-pill badgestyle badge-secondary" style="float:right" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Get 1 point every time you get an upvote for your comment."> {{ comment_likes }} </span>
            </li>

        <!--     <li class="list-group-item">
              <span class="badge"> {{ downvotes }} </span>Your Tip Downvotes:
              <i class="fas fa-question-circle fa-md" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="1 Downvote will reduce reputation by 1 point."></i> 
            </li> -->

            <li class="list-group-item">
              <b class="fontstyle90">Times you Voted:</b>
              <span class="badge badge-pill badgestyle badge-secondary" style="float:right"> {{ votedtimes }} </span>
            </li>


            <!-- subscriptionactivate -->

<!--             <li class="list-group-item">
              <b class="fontstyle90">Free subscription days:</b>
              <span class="badge badge-pill badge-secondary" style="float:right" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Earn {{nextpts}} points to get an additional {{nextfrdays}} free premium subscription days.""> {{ freedays }} </span>
            </li> -->


          </ul>
          


    </div><!-- mainboxstyle -->
  </div>
