option_settings:

  aws:elasticbeanstalk:container:python:
    WSGIPath: voterable/wsgi.py
    NumProcesses: '1'
    NumThreads: '15'
    StaticFiles: /static/=static/

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: voterable.settings
    PYTHONPATH: /opt/python/current/app/src:$PYTHONPATH

  aws:autoscaling:launchconfiguration:
    EC2KeyName: ExternalUser
    InstanceType: t2.micro

  aws:autoscaling:trigger:
    BreachDuration: 5
    LowerBreachScaleIncrement: -1
    LowerThreshold: 2000000
    MeasureName: NetworkOut
    Period: 5
    Statistic: Average
    Unit: Bytes
    UpperBreachScaleIncrement: 1
    UpperThreshold: 6000000

  aws:elasticbeanstalk:environment:
    LoadBalancerType: application

  aws:elbv2:loadbalancer:
    ManagedSecurityGroup: "sg-3be8c45c"
    SecurityGroups: "sg-3be8c45c"

  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:ap-southeast-1:115264615317:certificate/1baf8c17-1a0b-4b26-9d6c-1276634bfc7a

  aws:elasticbeanstalk:environment:process:https:
    Port: '443'
    Protocol: HTTPS



